/*
 * Override the symphony default styling so that the file upload inputs are
 * shown
 */
table.selectable input[type=file] {
	display: block;
}

/*
 * Place all the definition list elements on the same line.
 */
dl.csv-mappings > * {
	float: left;
	display: inline-block;
}

/*
 * Add arrows (and margins) after the terms being defined in the definition
 * list.
 */
dl.csv-mappings > dt:after {
	content: '\2192';
	margin: 0 1ex;
}

/*
 * Add commas after the definitions within the definition list aside from the
 * last one.
*/
dl.csv-mappings > dd:not(:last-of-type):after {
	content: ', ';
	margin-right: 1ex;
}

/*
 * Add the elipsis if the mappings is truncated.
 */
dl.csv-mappings.truncated:after {
	content: '...';
}

/*
 * Add a trailing comma to the last definition if the list is truncated.
 */
dl.csv-mappings.truncated > dd:after {
	content: ',';
	margin-right: 1ex;
}
